body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #007BFF;
}

a {
    display: block;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    background-color: #218838;
}

div {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

li span:first-child {
    font-weight: bold;
    font-size: 1.1em;
    color: #007BFF;
}

li span {
    color: #555;
}

li:last-child {
    border-bottom: none;
}
